.list-items {
  margin: 10px;
}

.displayText-btn {
  background-color: transparent;
  border-width: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.active {
  color: #fec653;
  border-bottom: solid 3px #fec653;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 10px;
}
